<head lang="de">
  <meta charset="utf-8"/>
  <title uilang="mainTitle"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- JQUERY -->
  <!--<script src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
  <!--<script src="{{ relRoot }}scripts/lib/jquery-2.1.4.min.js"></script>-->
  <script src="{{ relRoot }}scripts/lib/jquery-2.1.4.js"></script>
  <!--<script src="./js/jquery-3.2.0.js"></script>-->
  <!--<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>-->

  <!-- JQTREE -->
  <script src="{{ relRoot }}scripts/lib/tree.jquery.js"></script>
  <link href="{{ relRoot }}styles/jqtree.css" rel="stylesheet"/>
  <!-- <link href="./css/jqtree.style.css" rel="stylesheet"/> -->

  <!-- FONT AWESOME -->
  <link href="{{ relRoot }}styles/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

  <!-- JQUERY UI -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">-->
  <link rel="stylesheet" href="{{ relRoot }}styles/jquery-ui.min.css">

  <!-- JQGRID FREE -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/jquery.jqgrid.src.js"></script>-->
  <script src="{{ relRoot }}scripts/lib/jquery.jqgrid.src.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/js/i18n/grid.locale-de.js"></script>-->
  <script src="{{ relRoot }}scripts/lib/grid.locale-de.js"></script>
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/css/ui.jqgrid.min.css">-->
  <link rel="stylesheet" href="{{ relRoot }}styles/ui.jqgrid.min.css">

  <!-- jquery-validation -->
  <script src="{{ relRoot }}scripts/lib/jquery-validation/jquery.validate.js"></script>
  <script src="{{ relRoot }}scripts/lib/jquery-validation/localization/messages_de.min.js"></script>

  <!-- Localization -->
  <!-- This has to be loaded BEFORE jQuery mobile! -->
  <script type="text/javascript" src="{{ relRoot }}scripts/langprovider.js?language={{ lang }}&replace=true"></script>

  <!-- JQUERY MOBILE -->
  <script src="{{ relRoot }}scripts/lib/jquery.mobile-1.4.5.js"></script>
  <script src="{{ relRoot }}scripts/jquery.mobile-1.4.5.menupanel.js"></script>
  <link href="{{ relRoot }}styles/jquery.mobile-1.4.5.css" rel="stylesheet"/>
  <!--<link rel="stylesheet" href="./css/jquery-ui.min.css">-->

  <!-- jquery-mobile-font-awesome -->
  <link rel="stylesheet" href="{{ relRoot }}styles/jqm-font-awesome-usvg-upng.css" />

  <!-- jquery-mobile-simpledialogs2 -->
  <link rel="stylesheet" href="{{ relRoot }}styles/jquery.mobile.simpledialog.css" />
  <script src="{{ relRoot }}scripts/lib/jquery.mobile.simpledialog2.js"></script>

  <!-- CUSTOM EXTENSIONS -->
  <link href="{{ relRoot }}styles/shelfdb.css" rel="stylesheet"/>
  <script src="{{ relRoot }}scripts/lib/js.cookie.js"></script>
  <script src="{{ relRoot }}scripts/sdb-core.js"></script>
  <script src="{{ relRoot }}scripts/sdb-db-parts.js"></script>
  <script src="{{ relRoot }}scripts/sdb-gui-popup.js"></script>
  <script src="{{ relRoot }}scripts/sdb-gui-nav.js"></script>
  <script src="{{ relRoot }}scripts/sdb-gui-editcategory.js"></script>
  <script src="{{ relRoot }}scripts/sdb-gui-part.js"></script>
  <script src="{{ relRoot }}scripts/custom.ext.js"></script>
  <script src="{{ relRoot }}scripts/shelfdb.class.js.php"></script>

  {% block additionalHead %}
  {% endblock %}
</head>
