<div class="m-1" name="pictureContainer" value="{{ image.id }}" style="vertical-align: top; display: inline-block; text-align: center">
  <div>
    <a href="#" data-toggle="universalPopup">
      <img id="picture-{{ image.id }}" class="partinfo partImageListItem" data-other-src="{{ image.imgPath }}" src="{{ image.imgPath }}">
    </a>
  </div>
  <div class="btn-group btn-group-sm" role="group" aria-label="Image controls" data-toggle="buttons">
    <div class="btn-group btn-group-sm btn-group-toggle">
      <label class="checkbox btn btn-secondary {{ (image.master ? 'active' : '' )}}">
        <input type="checkbox" {{ (image.master ? 'checked="checked"' : '') }} altname="masterPicCheckbox" value="{{ image.id }}" name="masterPicSelect-{{ image.id }}" id="masterPicSelect-{{ image.id }}" autocomplete="off"><span uilang="masterImage"></span>
      </label>
    </div>
    <button name="deletePicture" value="{{ image.id }}" class="btn btn-secondary" type="button" uilang="delete"></button>
  </div>
</div>
