<!DOCTYPE html>
<html>
  <head lang="de">
    <meta charset="utf-8"/>
    <title uilang="mainTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQUERY -->
    <!--<script src="https://code.jquery.com/jquery-2.1.4.js"></script>-->
    <!--<script src="{{ relRoot }}scripts/lib/jquery-2.1.4.min.js"></script>-->
    <script src="{{ relRoot }}scripts/lib/jquery-2.1.4.js"></script>
    <!--<script src="./js/jquery-3.2.0.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>-->

    <!-- JQTREE -->
    <script src="{{ relRoot }}scripts/lib/tree.jquery.js"></script>
    <link href="{{ relRoot }}styles/jqtree.css" rel="stylesheet"/>
    <!-- <link href="./css/jqtree.style.css" rel="stylesheet"/> -->

    <!-- FONT AWESOME -->
    <link href="{{ relRoot }}styles/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- JQUERY UI -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">-->
    <link rel="stylesheet" href="{{ relRoot }}styles/jquery-ui.min.css">

    <!-- JQGRID FREE -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/jquery.jqgrid.src.js"></script>-->
    <script src="{{ relRoot }}scripts/lib/jquery.jqgrid.src.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/js/i18n/grid.locale-de.js"></script>-->
    <script src="{{ relRoot }}scripts/lib/grid.locale-de.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.14.0/css/ui.jqgrid.min.css">-->
    <link rel="stylesheet" href="{{ relRoot }}styles/ui.jqgrid.min.css">

    <!-- jquery-validation -->
    <script src="{{ relRoot }}scripts/lib/jquery-validation/jquery.validate.js"></script>
    <script src="{{ relRoot }}scripts/lib/jquery-validation/localization/messages_de.min.js"></script>

    <!-- Localization -->
    <!-- This has to be loaded BEFORE jQuery mobile! -->
    <script type="text/javascript" src="{{ relRoot }}scripts/langprovider.js?language={{ language }}&replace=true"></script>

    <!-- JQUERY MOBILE -->
    <script src="{{ relRoot }}scripts/lib/jquery.mobile-1.4.5.js"></script>
    <script src="{{ relRoot }}scripts/jquery.mobile-1.4.5.menupanel.js"></script>
    <link href="{{ relRoot }}styles/jquery.mobile-1.4.5.css" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="./css/jquery-ui.min.css">-->

    <!-- jquery-mobile-font-awesome -->
    <link rel="stylesheet" href="{{ relRoot }}styles/jqm-font-awesome-usvg-upng.css" />

    <!-- jquery-mobile-simpledialogs2 -->
    <link rel="stylesheet" href="{{ relRoot }}styles/jquery.mobile.simpledialog.css" />
    <script src="{{ relRoot }}scripts/lib/jquery.mobile.simpledialog2.js"></script>

    <!-- CUSTOM EXTENSIONS -->
    <link href="{{ relRoot }}styles/shelfdb.css" rel="stylesheet"/>
    <script src="{{ relRoot }}scripts/lib/js.cookie.js"></script>
    <script src="{{ relRoot }}scripts/sdb-core.js"></script>
    <script src="{{ relRoot }}scripts/sdb-db-parts.js"></script>
    <script src="{{ relRoot }}scripts/sdb-gui-popup.js"></script>
    <script src="{{ relRoot }}scripts/sdb-gui-nav.js"></script>
    <script src="{{ relRoot }}scripts/sdb-gui-editcategory.js"></script>
    <script src="{{ relRoot }}scripts/custom.ext.js"></script>
    <script src="{{ relRoot }}scripts/shelfdb.class.js.php"></script>

    <script>
      $(function(){
        // Document ready
        //
        //$.mobile.linkBindingEnabled = true;
        //$.mobile.ajaxEnabled = true;
        console.log("DEBUG: document ready");

        ShelfDB.GUI.Nav.CategoryTree.setup({
          treeSelector: '#categorytree',
          btnCollapseSelector: '#collapse',
          btnExpandSelector: '#expand'
        });

        // Search
        ShelfDB.GUI.Nav.Search.setup({
          searchBoxSelector: '#searchbar'
        });

        // Panel
        $panel = $("body>[data-role='menupanel']");
        $panel.menupanel({'_transitionClose': false}).enhanceWithin();

        $('a#userLogin').click( function() {
          ShelfDB.GUI.Popup.openExternalPopup({
            url: '{{ relRoot }}pages/popup-login.php',
            submit: function(evt) {
              evt.preventDefault();
              evt.stopPropagation();

              if( !$(evt.target).valid() )
                return;

              $.mobile.referencedLoading('show');

              $.ajax({
                url: '{{ relRoot }}lib/edit-user.php',
                data: $(evt.target).formData(),
                method: 'post',
                cache: false,
                dataType: 'json',
                success: function(data) {
                  $.mobile.referencedLoading('hide');

                  if( data.success ) {
                    // Do visual things after login
                    // Reload nav and main page
                    $.mobile.pageContainer.change("{{ relRoot }}index.php");

                    $('[data-group=loggedIn]').removeClass('ui-screen-hidden');
                    $('[data-group=loggedOut]').addClass('ui-screen-hidden');

                    $('#popupLoginDialog').popup('close');
                  } else {
                    // Show error
                    $('#popupLoginDialog').find('input').addClass('error');
                  }

                },
                error: function() {
                  // Show error
                  $.mobile.referencedLoading('hide');
                }
              });
            },
            afterclose: function(evt) {
              $(this).find("form").validate().resetForm();
              $(this).find("#username").val("");
              $(this).find("#password").val("");
            }
          });
        });

        $("a#userLogout").click( function(evt) {

          $.mobile.referencedLoading('show');

          $.ajax({
            url: '{{ relRoot }}lib/edit-user.php',
            data: {
              method: 'logout'
            },
            method: 'post',
            cache: false,
            dataType: 'json',
            success: function(data) {
              // Reload nav and main page
              $.mobile.pageContainer.change("{{ relRoot }}index.php");

              $('[data-group=loggedIn]').addClass('ui-screen-hidden');
              $('[data-group=loggedOut]').removeClass('ui-screen-hidden');

              $.mobile.referencedLoading('hide');
            },
            error: function() {
              // Show error
              $.mobile.referencedLoading('hide');
            }
          });
        });
      });

      $(document).on('updatelayout',function() {
        console.log("DEBUG: updatelayout");
      });

      $(document).on('menupanelopen',function() {
        console.log("DEBUG: menupanelopen");
        $(window).trigger('resize');
      });

      $(document).on('menupanelclose',function() {
        console.log("DEBUG: menupanelclose");
        $(window).trigger('resize');
      });

      $(document).one('pagecreate', function() {
          console.log("DEBUG: page - create (once)");

          $(':mobile-pagecontainer').on('pagecontainerbeforeshow', function(event,ui) {
            console.log("DEBUG: pagecontainer - beforeshow");

            $.mobile.pageContainerBeforeShowTasks.forEach(function(fun) { fun(event,ui); });
          });

          $(':mobile-pagecontainer').on('pagecontainerbeforeload', function(event,ui) {
            console.log("DEBUG: pagecontainer - beforeload");

            $.mobile.pageContainerBeforeLoadTasks.forEach(function(fun) { fun(event,ui); });

            ShelfDB.Core.pageHookClear();
          });

          $(':mobile-pagecontainer').on('pagecontainerchange', function(event,ui) {
            console.log("DEBUG: pagecontainer - change");

            $.mobile.pageContainerChangeTasks.forEach(function(fun) { fun(event,ui); });

            ShelfDB.Core.pageHookClear();
          });

          $(':mobile-pagecontainer').on('pagecontainerbeforechange', function(event,ui) {
            console.log("DEBUG: pagecontainer - beforechange");

            $.mobile.pageContainerBeforeChangeTasks.forEach(function(fun) { fun(event,ui); });
          });
      });
      $(document).on('popupcreate', function() {
        console.log("DEBUG: popup - create");
      });
      $(document).on('pagecreate', function() {
          console.log("DEBUG: page - create");

          $(document).on( "panelclose", "#navpanel", function() {
            console.log('Panel close');
          });

          $.mobile.pageCreateTasks.forEach(function(fun) { fun(); });

          $("[data-role=menupanel]").one("panelbeforeopen", function() {
            var height = $.mobile.pageContainer.pagecontainer("getActivePage").outerHeight();
            $(".ui-panel-wrapper").css("height", height+1);
          });
      });
    </script>
  </head>
  <body class="ui-responsive-panel">
    <div id=index data-role="page">

      <div data-role="header" data-position="fixed">
        <h1 uilang="componentDatabase"></h1>
        <a href="#navpanel" class="ui-btn"><i class="fa fa-bars"></i></a>
      </div>
      <div role="main" class="ui-content">
        <p><a href="{{ relRoot }}pages/test.php">Testlink</a></p>
        <p><a href="{{ relRoot }}pages/page-recentactivity.php">History</a></p>
        <p>

        </p>
      </div>

      {% include 'ext-element-footer.twig' %}

    </div>

    <div data-role="menupanel" id="navpanel" data-position="left" class="ui-page-theme-a">

      <div class="search">
        <a class="homelink" href="index.php"><i class="fa fa-home"></i>&nbsp;ShelfDB</a>
        <input id="searchbar" type="text" data-type="search" data-clear-btn="true" uilang="placeholder:searchPlaceholder">
      </div>

      <div data-role="collapsibleset" data-theme="a" data-content-theme="a">
      <!--<span><a href="#" id="btnSlideCategories"><i class="fa fa-plus-square" aria-hidden="true"></i></a> Kategorien</span>-->
      <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <h6 uilang="account"></h6>
        <ul data-role="listview">
          <li data-group="loggedIn" class="{{ (user.isLoggedIn ?: 'ui-screen-hidden') }}" data-icon="false"><a id="userLogout" href="#"><i class="fa fa-sign-out"></i> <span uilang="logout"></span></a></li>
          <li data-group="loggedIn" class="{{ (user.isAdmin ?: 'ui-screen-hidden')}}"><a id="userOpenAdministration" href="#"><i class="fa fa-cogs"></i> <span uilang="administration"></span></a></li>
          <li data-group="loggedOut" class="{{ (user.isLoggedIn ? 'ui-screen-hidden') }}"><a id="userLogin" href="#"><i class="fa fa-sign-in"></i> <span uilang="login"></span></a></li>
          <li data-group="loggedOut" class="{{ (user.isLoggedIn ? 'ui-screen-hidden') }}"><a href="{{ relRoot }}"><i class="fa fa-user"></i> <span uilang="register"></span></a></li>
        </ul>
      </div>
        <div id=categories data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
          <h6 uilang="categories"></h6>
            <ul data-role="listview">
              <li><a href="{{ relRoot }}pages/page-editcategories.php"><i class="fa fa-pencil"></i> <span uilang="edit"></span></a></li>
            </ul>

            <div class="ui-grid-a">
              <div class="ui-block-a">
                <a id="collapse" class="ui-btn ui-shadow catkeys" href="#"><i class="fa fa-compress"></i> <span uilang="compress"></span></a>
              </div>
              <div class="ui-block-b">
                <a id="expand" class="ui-btn ui-shadow catkeys" href="#"><i class="fa fa-expand"></i> <span uilang="expand"></span></a>
              </div>
            </div>
            <div id="categorytree" data-url="{{ relRoot }}lib/json.categorytree.php"></div>

        </div>
        <div id=storage data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h6 uilang="storageLocations"></h6>
          <ul data-role="listview">
            <li><a href="{{ relRoot }}pages/page-editstorelocation.php"><i class="fa fa-edit"></i> <span uilang="edit"></span></a></li>
            <li><a href="{{ relRoot }}pages/page-showempty.php"><i class="fa fa-square-o"></i> <span uilang="storageLocationShowEmpty"></span></a></li>
            <li><a href="{{ relRoot }}pages/page-shownonempty.php"><i class="fa fa-square"></i> <span uilang="storageLocationShowNonEmpty"></span></a></li>
          </ul>
        </div>
        <div id=tools data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h6 uilang="tools"></h6>
          <ul data-role="listview">
            <li><a href="#"><i class="fa fa-th"></i> <span uilang="noFootprintShow"></span></a></li>
            <li><a href="#"><i class="fa fa-archive"></i> <span uilang="noStorageLocationShow"></span></a></li>
            <li><a href="#"><i class="fa fa-truck"></i> <span uilang="noSupplierShow"></span></a></li>
            <li><a href="#"><i class="fa fa-microchip"></i> <span uilang="icLogosShow"></span></a></li>
            <li><a href="#"><i class="fa fa-line-chart"></i> <span uilang="statisticsShow"></span></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i> <span uilang="orderItemsShow"></span></a></li>
          </ul>
        </div>
        <div id=suppliers data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h6 uilang="suppliers"></h6>
          <ul data-role="listview">
            <li><a href="{{ relRoot }}pages/page-editsuppliers.php"><i class="fa fa-edit"></i> <span uilang="edit"></span></a></li>
          </ul>
        </div>
        <div id=footprints data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
          <h6 uilang="footprints"></h6>
          <ul data-role="listview">
            <li><a href="{{ relRoot }}pages/page-editfootprints.php"><i class="fa fa-edit"></i> <span uilang="edit"></span></a></li>
          </ul>
        </div>
      </div>
    </div>

  </body>
</html>
