{#
  part
    .name
    .category .name .id
    .showQr
    .qrImgData <?php echo $qrImgData = $pdb->Part()->CreateQRCode($data['partid']); ?>
    .supplierImgFile
    .mainPicFile
    .footprintImgFile

#}
{% extends 'ext-element-page.twig' %}
{% block pageForwarding %}
{% endblock %}
{% set pageId = (pageId ?? 'showpartdetail') %}

{% set langLabels = { mainHeader: 'editSuppliers' } %}

{% block pagePre %}
{% endblock pagePre %}

{% block pageContent %}
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h4 name="showName" class="mb-1">{{ part.name }}</h4>
        <h6 class="mt-0 pt-0">{{ part.category.name }}</h6>
      </div>
      <div class="col-auto">
        <button name="editName"   class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i></button>
        <button name="copyPart"   class="btn btn-secondary btn-sm"><i class="fa fa-copy"></i></button>
        <button name="deletePart" class="btn btn-secondary btn-sm"><i class="fa fa-remove"></i></button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-auto text-center">
        <!-- Part Main Image -->
        <a href="#" data-toggle="universalPopup">
          <img class="partimage" src="{{ part.mainPicFile }}">
        </a>
          {% if part.showQr %}
            <br>
            <a href="#" data-toggle="universalPopup">
              <img src="{{ part.qrImgData }}">
            </a>
          {% endif %}
      </div>
      <div class="col-sm">
        <!-- Storage location -->
        <div class="row">
          <div class="col">
            <label uilang="storageLocation" for="showStorageLocation"></label>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col">
            <input id="showStorageLocation" class="form-control" name="showStoreloc" readonly="readonly" type="text" value="{{ part.storeloc|e }}">
          </div>
          <div class="col-auto">
            <button name="editStoreloc" class="btn btn-secondary"><i class="fa fa-edit"></i></button>
          </div>
        </div>

        <!-- Footprint -->
        <div class="row mt-2">
          <div class="col">
            <label uilang="footprint" for="showFootprint"></label>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-auto">
            <a href="#" data-toggle="universalPopup">
              <img src="{{ part.footprintImgFile }}" name="imgFootprint" style="object-fit: contain; width: 2.375em; height: 2.375em; margin-right: 0.3em">
            </a>
          </div>
          <div class="col">
            <input id="showFootprint" class="form-control" name="showFootprint" readonly="readonly" type="text" value="{{ part.footprint|e }}">
          </div>
          <div class="col-auto">
            <button name="editFootprint" class="btn btn-secondary"><i class="fa fa-edit"></i></button>
          </div>
        </div>

        <!-- Amount available/stored -->
        <div class="row">
          <!-- Amount available -->
          <div class="col-lg-6 mt-2">
            <div class="row">
              <div class="col">
                <label for=""><span uilang="amountAvailable"></span>
                  <a tabindex="0"
                    uilang="data-content:helpTotalInStock"
                    role="button" link="#popupInfoSupplierUrl"
                    data-toggle="popover"
                    data-trigger="focus"
                    class="btn btn-secondary btn-sm"
                    title="">
                    <i class="fa fa-info"></i>
                  </a>
                </label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col">
                <input class="form-control" name="showTotal" type="text" readonly=readonly value="{{ part.totalstock }}">
              </div>
              <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Total number controls">
                  <button name="addTotal" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                  <button name="subTotal" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                  <button name="editTotal" class="btn btn-secondary"><i class="fa fa-edit"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Stock available -->
          <div class="col-lg-6 mt-2">
            <div class="row">
              <div class="col">
                <label for=""><span uilang="amountStored"></span>
                  <a tabindex="0"
                    uilang="data-content:helpInStock"
                    role="button" link="#popupInfoSupplierUrl"
                    data-toggle="popover"
                    data-trigger="focus"
                    class="btn btn-secondary btn-sm"
                    title="">
                    <i class="fa fa-info"></i>
                  </a>
                </label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col">
                <input class="form-control" name="showStock" type="text" readonly=readonly value="{{ part.instock }}">
              </div>
              <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Stock number controls">
                  <button name="addStock" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
                  <button name="subStock" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
                  <button name="editStock" class="btn btn-secondary"><i class="fa fa-edit"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Supplier / Partnr -->
        <div class="row">
          <!-- Supplier -->
          <div class="col-lg-6 mt-2">
            <div class="row">
              <div class="col">
                <label uilang="supplier"></label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-auto">
                <a href="#" data-toggle="universalPopup">
                  <img src="{{ part.supplierImgFile }}" name="imgSupplier" style="object-fit: contain; width: 2.375em; height: 2.375em; margin-right: 0.3em">
                </a>
              </div>
              <div class="col">
                <input class="form-control" name="showSupplier" url="{{ part.urlTemplate }}" supplierId="{{ part.id_supplier }}" type="text" readonly="readonly" value="{{ part.supplier_name }}">
              </div>
              <div class="col-auto">
                <button class="btn btn-secondary" name="editSupplier"><i class="fa fa-edit"></i></button>
              </div>
            </div>
          </div>
          <!-- Partnr -->
          <div class="col-lg-6 mt-2">
            <div class="row">
              <div class="col">
                <label uilang="partNumber"></label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col">
                <input class="form-control" name="showPartNumber" type="text" readonly="readonly" value="{{ part.supplierpartnr }}">
              </div>
              <div class="col-auto">
                <button class="btn btn-secondary" name="editPartNumber"><i class="fa fa-edit"></i></button>
              </div>
            </div>
          </div>
        </div>

        <!-- Price / Least amount -->
        <div class="row">
          <!-- Price -->
          <div class="col-lg-6 mt-2">
            <div class="row">
              <div class="col">
                <label uilang="price"></label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col">
                <input class="form-control" name="showPrice" floatvalue="{{ part.price }}" value="{{ part.priceFormatted }}" type="text" readonly="readonly">
              </div>
              <div class="col-auto">
                <button class="btn btn-secondary" name="editPrice"><i class="fa fa-edit"></i></button>
              </div>
            </div>
          </div>
          <!-- Least amount -->
          <div class="col-lg-6 mt-2">
            <div class="row">
              <div class="col">
                <label uilang="amountLeast"></label>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col">
                <input class="form-control" name="showMinStock" type="text" readonly=readonly value="{{ part.mininstock }}">
              </div>
              <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Total number controls">
                  <button name="editMinStock" class="btn btn-secondary"><i class="fa fa-edit"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Comment -->
    <div class="row mt-2">
      <div class="col">
        <div class="card">
          <div class="p-0 pl-3 card-header d-flex justify-content-between" id="headingDescription">
            <div class="align-self-center">
              <a style="vertical-align: baseline;" data-toggle="collapse" class="btn btn-default p-0 btn-sm text-right" href="#collapseDescription" aria-label="Expand/Collapse" aria-expanded="true" role="button">
                <i class="fa" aria-hidden="true"></i>
                <span class="sr-only" uilang="expand"></span>
              </a>
              <a uilang="description" class="" data-toggle="collapse" href="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription"></a>
            </div>
            <div class="align-self-center">
              <button type="button" name="editDescription" class="b-0 btn btn-secondary" style="border-bottom: 0;">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
          <div id="collapseDescription" class="collapse show" aria-labelledby="headingDescription">
            <div class="card-body" name="showDescription">{{ part.comment|e }}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Datasheets -->
    <div class="row mt-2">
      <div class="col">
        <div class="card">
          <div class="p-1 pl-3 card-header d-flex" id="headingDatasheets">
            <div class="align-self-center">
              <a style="vertical-align: baseline;" data-toggle="collapse" class="btn btn-default p-0 btn-sm text-right collapsed" href="#collapseDatasheets" aria-label="Expand/Collapse" aria-expanded="false" role="button">
                <i class="fa" aria-hidden="true"></i>
                <span class="sr-only" uilang="expand"></span>
              </a>
              <a uilang="datasheets" class="collapsed" data-toggle="collapse" href="#collapseDatasheets" aria-expanded="false" aria-controls="collapseDatasheets"></a>
            </div>
          </div>
          <div id="collapseDatasheets" class="collapse" aria-labelledby="headingDatasheets">
            <div class="card-body" name="partDatasheetsListView">
              {% for datasheet in part.datasheets %}
                {% embed 'ext-element-datasheetitem.twig' %}
                {% endembed %}
              {% endfor %}
              <!-- The add button -->
              <div class="m-1" name="datasheetContainer" value="add" style="vertical-align: top; display: inline-block; text-align: center">
                <a name="datasheetContainerAddButton" href="#">
                  <div class="partImageListItem">
                    <i class="fa fa-plus" style="font-size: 10em"></i>
                  </div>
                </a>
              </div>

              {# Generate template for late item generation #}
              {% set datasheetTmplItem %}
                {% embed 'ext-element-datasheetitem.twig' %}
                {% set datasheet = {
                  'id':'!tmpl!',
                  'datasheetPath':'!tmpl!'
                } %}
                {% endembed %}
              {% endset %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Part pictures -->
    <div class="row mt-2">
      <div class="col">
        <div class="card">
          <div class="p-1 pl-3 card-header d-flex" id="headingImages">
            <div class="align-self-center">
              <a style="vertical-align: baseline;" data-toggle="collapse" class="btn btn-default p-0 btn-sm text-right collapsed" href="#collapseImages" aria-label="Expand/Collapse" aria-expanded="false" role="button">
                <i class="fa" aria-hidden="true"></i>
                <span class="sr-only" uilang="expand"></span>
              </a>
              <a uilang="images" class="collapsed" data-toggle="collapse" href="#collapseImages" aria-expanded="false" aria-controls="collapseImages"></a>
            </div>
          </div>
          <div id="collapseImages" class="collapse" aria-labelledby="headingImages">
            <div class="card-body" name="partPictureListView">
              {% for image in part.images %}
                {% embed 'ext-element-imgitem.twig' %}
                {% endembed %}
              {% endfor %}
              <!-- The add button -->
              <div class="m-1" name="pictureContainer" value="add" style="vertical-align: top; display: inline-block; text-align: center">
                <a name="pictureContainerAddButton" href="#">
                  <div class="partImageListItem">
                    <i class="fa fa-plus" style="font-size: 10em"></i>
                  </div>
                </a>
              </div>

              {# Generate template for late item generation #}
              {% set pictureTmplItem %}
                {% embed 'ext-element-imgitem.twig' %}
                {% set image = {
                  'id':'!tmpl!',
                  'master':false,
                  'imgPath':'!tmpl!'
                } %}
                {% endembed %}
              {% endset %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- History -->
    <div class="row mt-2">
      <div class="col">
        <div class="card">
          <div class="p-1 pl-3 card-header d-flex" id="headingHistory">
            <div class="align-self-center">
              <a style="vertical-align: baseline;" data-toggle="collapse" class="btn btn-default p-0 btn-sm text-right collapsed" href="#collapseHistory" aria-label="Expand/Collapse" aria-expanded="false" role="button">
                <i class="fa" aria-hidden="true"></i>
                <span class="sr-only" uilang="expand"></span>
              </a>
              <a uilang="history" class="collapsed" data-toggle="collapse" href="#collapseHistory" aria-expanded="false" aria-controls="collapseHistory"></a>
            </div>
          </div>
          <div id="collapseHistory" class="collapse" aria-labelledby="headingHistory">
            <div class="card-body" name="partHistory">
              {{ part.historyString|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('#showpartdetail [data-toggle=popover]').popover();
      ShelfDB.GUI.Part.PartDetails.setup({
        partId: {{ part.id }},
        pictureNodeTemplate: '{{ pictureTmplItem|e('js') }}',
        datasheetNodeTemplate: '{{ datasheetTmplItem|e('js') }}'
      });
    });
  </script>
{#
    <div class="ui-grid-a">
      <div class="ui-block-a partimageblock">
        <div class="partimagewrapper">
            <img class="partimage" data-other-src="<?php echo $part['mainPicFile']; ?>" src="<?php echo $part['mainPicFile']; ?>">
            <?php
              if( \ConfigFile\QRCode::$enable ) { ?>
                <br>
                <img data-other-src="<?php echo $qrImgData = $pdb->Part()->CreateQRCode($data['partid']); ?>" src="<?php echo $qrImgData; ?>">
              <?php }
            ?>
        </div>
        <!-- Popup image viewer -->
        <div data-role="popup" id="popupimg" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15">
          <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Schließen</a>
          <img src="" alt="">
        </div>
      </div>
      <div class="ui-block-b partdetailsblock">
        <div class="ui-body ui-body-a ui-corner-all">
          <h4 uilang="storageLocation"></h4>
          <div class="flexBoxTextInputEditControl">
            <input name="showStoreloc" readonly="readonly" type=text value="<?php echo htmlentities($part['storeloc'],ENT_HTML5,'UTF-8'); ?>">
            <input name="editStoreloc" type="button" data-icon="edit" data-iconpos="notext">
          </div>
          <h4 uilang="footprint"></h4>
          <div class="flexBoxTextInputEditControl">
            <a href="#popupimg" data-rel="popup" data-position-to="window">
              <img data-other-src="<?php echo $partFootprintImageFile; ?>" src="<?php echo $partFootprintImageFile ?>" name="imgFootprint" style="max-width: 2.2em; max-height: 2.2em; margin-right: 0.3em">
            </a>
            <input name="showFootprint" readonly="readonly" type=text value="<?php echo htmlentities($part['footprint'],ENT_HTML5,'UTF-8'); ?>">
            <input name="editFootprint" type="button" data-icon="edit" data-iconpos="notext">
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <h4>
                <span uilang="amountAvailable"></span>&nbsp;
                <a href="#popupInfoTotalInstock" data-rel="popup" data-transition="pop"
                class="ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext my-tooltip-btn"
                title="Learn more" uilang="moreInfo"></a>
              </h4>
            </div>
            <div data-role="popup" id="popupInfoTotalInstock" class="ui-content" data-theme="a" style="max-width:350px;">
  							<p uilang="helpTotalInStock"></p>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <h4>
                <span uilang="amountStored"></span>&nbsp;
                <a href="#popupInfoInstock" data-rel="popup" data-transition="pop"
                class="ui-btn ui-alt-icon ui-nodisc-icon ui-btn-inline ui-icon-info ui-btn-icon-notext my-tooltip-btn"
                title="Learn more" uilang="moreInfo"></a>
              </h4>
            </div>
            <div data-role="popup" id="popupInfoInstock" class="ui-content" data-theme="a" style="max-width:350px;">
  							<p uilang="helpInStock"></p>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showTotal" type="text" readonly=readonly value="<?php echo $part['totalstock']; ?>">
                <input name="addTotal" type="button" data-icon="fa-plus-circle" data-iconpos="notext">
                <input name="subTotal" type="button" data-icon="fa-minus-circle" data-iconpos="notext">
                <input name="editTotal" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showStock" type="text" readonly=readonly value="<?php echo $part['instock']; ?>">
                <input name="addStock" type="button" data-icon="fa-plus-circle" data-iconpos="notext">
                <input name="subStock" type="button" data-icon="fa-minus-circle" data-iconpos="notext">
                <input name="editStock" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <h4 uilang="supplier"></h4>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <h4 uilang="partNumber"></h4>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <a href="#popupimg" data-rel="popup" data-position-to="window">
                  <img data-other-src="<?php echo $partSupplierImageFile; ?>" src="<?php echo $partSupplierImageFile ?>" name="imgSupplier"  style="margin-right: 0.3em; max-width: 2.2em; max-height: 2.2em">
                </a>
                <input name="showSupplier" url="<?php echo $url; ?>" supplierId="<?php echo $part['id_supplier']; ?>" type="text" readonly=readonly value="<?php echo $part['supplier_name']; ?>">
                <input name="editSupplier" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showPartNumber" type="text" readonly=readonly value="<?php echo $part['supplierpartnr']; ?>">
                <input name="editPartNumber" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <h4 uilang="price"></h4>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <h4 uilang="amountLeast"></h4>
            </div>
          </div>
          <div class="ui-grid-a">
            <div class="ui-block-a" style="padding-right: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showPrice" type="text" readonly=readonly floatvalue="<?php echo $part['price']; ?>" value="<?php echo $pdb->Part()->FormatPrice($part['price']); ?>">
                <input name="editPrice" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
            <div class="ui-block-b" style="padding-left: 0.5em">
              <div class="flexBoxTextInputEditControl">
                <input name="showMinStock" type="text" readonly=readonly value="<?php echo $part['mininstock']; ?>">
                <input name="editMinStock" type="button" data-icon="edit" data-iconpos="notext">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="ui-body ui-body-a ui-corner-all">
      <div data-enhanced="true" data-role="collapsible" class="ui-collapsible ui-collapsible-inset ui-corner-all ui-collapsible-themed-content">
        <h4 class="ui-collapsible-heading">
            <a class="ui-collapsible-heading-toggle ui-btn ui-icon-minus ui-btn-icon-left" href="#">
              <span uilang="description" />
              <span class="ui-collapsible-heading-status"> click to expand contents</span>
            </a>
            <a name="editDescription" data-enhanced="true" class="ui-collapsible-split-button ui-corner-all ui-btn ui-btn-icon-notext ui-icon-edit" href="#" uilang="edit"></a>
        </h4>
        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="false">
          <p name="showDescription" style="white-space: pre-wrap"><?php
              echo htmlentities(trim($part['comment']),ENT_HTML5,'UTF-8');
            ?></p>
        </div>
      </div>

      <div name="partDatasheetsListView" data-role="collapsible">
        <h4 uilang="datasheets"></h4>
        <p>TODO: DS</p>
      </div>

      <div name="partPictureListView" data-role="collapsible">
        <h4 uilang="images"></h4>
        <!-- Part pictures -->
        <?php echo  join("",$partImageHtml); ?>
        <div name="pictureContainer" value="add" style="vertical-align: top; display: inline-block; text-align: center">
          <a name="pictureContainerAddButton" href="#">
            <div class="partinfo partImageListItem" style="font-size: 1em; width: 10em; height: 10em">
              <i class="fa fa-plus" style="font-size: 10em"></i>
            </div>
          </a>
        </div>
      </div>

      <div name="partHistory" data-role="collapsible">
        <h4 uilang="history"></h4>
        <p>
        <?php echo  $pdb->History()->PrintHistoryData($pdb->History()->GetByTypeAndId($data['partid'], 'P')); ?>
        </p>
      </div>
    </div>
  </div>
  <!-- Popup image viewer -->
  <div data-role="popup" id="popupimg" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15">
    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Schließen</a>
    <img src="" alt="">
  </div>
</div>
#}
{% endblock pageContent %}
