{#
	filterArguments
	searchString
	
  footprintFilterString
  storeLocationFilterString
  categoryFilterString

#}
{% extends 'ext-element-page.twig' %}

{% set pageId = (pageId ?? 'showsearchresults') %}

	{% set langLabels = { mainHeader: 'searchResults' } %}


{% block pagePre %}

<script>
  console.log("DEBUG: page-showsearchresults executing...");

		$.mobile.pageContainerChangeTasks.push( function( event, ui ){
        console.log("DEBUG: pagecontainer - change");

	// Part list
    ShelfDB.GUI.Part.PartList.setup({
      listSelector: '#partList',
      caption: Lang.get('searchTableTitle'),
      filterParameters: {
				{% for key, value in filterArguments  %}
					{{ key }}: '{{ value|e('js') }}',
				{% endfor %}
      },
      enableGrouping: true,
      showGroupingSwitch: true,
      groupingSwitch: {
        caption: Lang.get('noGroupingByCategories'),
        id: 'hkHideGroups',
		onCheck: function(list) {
			list.jqGrid('setGridParam', {
				grouping: false
			}).trigger('reloadGrid');
		},
		onUnCheck: function(list) {
			list.jqGrid('setGridParam', {
				grouping: true
			}).trigger('reloadGrid');
		}
     },
      pagerSelector: '#partListPager',
      footprintFilterString: '{{ footprintFilterString|e('js') }}',
      storeLocationFilterString: '{{ storeLocationFilterString|e('js') }}',
      categoryFilterString:  '{{ categoryFilterString|e('js') }}',
    });

				var lastwidth = 9999;
				$(window).on('resize', function() {
					var width = $("#partList").closest('.ui-content').width();

					if( width < 520 && lastwidth >= 520 ) {
        $('#partList').jqGrid('hideCol',['mininstock'/*,'datasheet'*/]);
					} else if( width >= 520 && lastwidth < 520) {
        $('#partList').jqGrid('showCol',['footprint','mininstock'/*,'datasheet'*/]);
					}

					if( width < 420 && lastwidth >= 420 ) {
						$('#partList').jqGrid('hideCol',"footprint");
						$("#chkHideGroups_super").hide();
					} else if( width >= 420 && lastwidth < 420 ) {
						$("#chkHideGroups_super").show();
						$('#partList').jqGrid('showCol',"footprint");
					}
					lastwidth = width;

	        $('#partList').jqGrid('setGridWidth', width);
	      });

				// Initial column hide/show
				$(window).triggerHandler('resize');

			});

			//$(':mobile-pagecontainer').off("pagecontainerbeforeload");
			//$(':mobile-pagecontainer').on("pagecontainerbeforeload",
			$.mobile.pageContainerBeforeLoadTasks.push( function(event,ui) {

				console.log("DEBUG: pagecontainer - beforeload");

				$(window).off('resize');
				//if( $('#subcattree').length ) {
					//$('#subcattree').tree('destroy');
				//}
			});

</script>

{% endblock pagePre %}
	{% block pageContent %}
		<h3 uilang="searchResultsFor">{{ searchString|e }}</h3>

		<p>
			<table id="partList"></table>
			<div id="partListPager"></div>
		</p>

{% endblock pageContent %}
