{#
  category.id
  category.name
  category.parents -> .id .name
  category.hasChildren

#}
{% extends 'ext-element-page.twig' %}

{% set pageId = (pageId ?? 'showparts') %}

{% set langLabels = { mainHeader: ':categoryNameHeader:' } %}
{% set title = category.name %}

{% block pagePre %}

<script>
  console.log("DEBUG: page-showparts executing...");

  ShelfDB.Core.pageContainerAfterLoadTasks.push( function( event ){
    console.log("DEBUG: pagecontainer - change (id = {{ category.id }})");

    // Category tree
    ShelfDB.GUI.Part.SubCategoryTree.setup({
			treeSelector: '#subcattree',
			mainTreeSelector: '#navCategorytree',
      currentCategoryId: '{{ category.id ?? null }}'
		});

    // Part list
    ShelfDB.GUI.Part.PartList.setup({
      listSelector: '#partList',
      caption: Lang.get('partsInCategoryNameHeader', true)('{{ category.name|e('js') }}'),
      filterParameters: {
        catid: {{ category.id }},
      },
      enableGrouping: {{ category.hasChildren ? 'true' : 'false' }},
      showGroupingSwitch: {{ category.hasChildren ? 'true' : 'false' }},
      groupingSwitch: {
        caption: Lang.get('hideSubcategories'),
        id: 'chkHideSubcategories'
      },
      pagerSelector: '#partListPager'
    });
  });

</script>

{% endblock pagePre %}

{% block pageContent %}
  {# Title #}
  {% if langLabels.mainHeader %}
    <h2 class="text-center text-md-left" uilang="{{ langLabels.mainHeader }}">
  {% else %}
    <h2 class="text-center text-md-left">
  {% endif %}
  {{ title ?? '' }}</h2>

  {# echo join("<i class='fa fa-arrow-right'></i>",$buttons); #}
  {% for parent in category.parents %}
    {% if loop.first %}
    <div class="card">
      <div class="card-header d-flex justify-content-between" id="headingCollapseParentCategories">
        <div>
            <a uilang="parentCategories" class="collapsed" data-toggle="collapse" href="#collapseParentCategories" aria-expanded="false" aria-controls="collapseParentCategories"></a>
        </div>
        <div>
            <a data-toggle="collapse" class="collapsed btn btn-default p-0 btn-xs text-right" href="#collapseParentCategories" aria-label="Expand/Collapse parent categories" aria-expanded="false" role="button">
                <i class="fa" aria-hidden="true"></i>
                <span class="sr-only" uilang="expand"></span>
            </a>
        </div>
      </div>
      <div id="collapseParentCategories" class="collapse" aria-labelledby="headingCollapseParentCategories">
        <div class="card-body">
    {% else %}
      <i class='fa fa-arrow-right'></i>
    {% endif %}
      <a class="btn btn-secondary" role="button" data-rel="pagelink" href="{{ relRoot }}pages/page-showparts.php?catid={{ parent.id }}&showSubcategories=1">
        {{ parent.name|e }}
      </a>
    {% if loop.last %}
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  {% if category.hasChildren %}
    <!--
      <h5 uilang="subCategories"></h5>
      <div id="subcattree" data-url="{{ relRoot }}lib/json.categorytree.php?catid={{ category.id }}&withparent={{ ( category.id == 0 ? 0 : 1 ) }}"></div>
    -->
    <div class="card">
      <div class="card-header d-flex justify-content-between" id="headingCollapseSubCategories">
        <div>
            <a uilang="subCategories" class="collapsed" data-toggle="collapse" href="#collapseSubCategories" aria-expanded="false" aria-controls="collapseSubCategories"></a>
        </div>
        <div>
            <a data-toggle="collapse" class="collapsed btn btn-default p-0 btn-xs text-right" href="#collapseSubCategories" aria-label="Expand/Collapse Subcategories" aria-expanded="false" role="button">
                <i class="fa" aria-hidden="true"></i>
                <span class="sr-only" uilang="expand"></span>
            </a>
        </div>
      </div>
      <div id="collapseSubCategories" class="collapse" aria-labelledby="headingCollapseSubCategories">
          <div class="card-body">
              <div id="subcattree" data-url="{{ relRoot }}lib/json.categorytree.php?catid={{ category.id }}&withparent={{ ( category.id == 0 ? 0 : 1 ) }}"></div>
          </div>
      </div>
    </div>
  {% endif %}

  <p>
    <table id="partList"></table>
    <div id="partListPager"></div>
  </p>


{% endblock pageContent %}
